<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/index.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <title>CV task 1</title>
</head>

<body>

    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks active" id="tab1-btn">Apply image
            filters</button>
        <button class="tablinks" id="tab2-btn">Histogram Operations</button>
        <button class="tablinks" id="tab3-btn">Hybrid images</button>
    </div>

    <!-- Tab content for frequency filters-->
    <div id="filter" class="tabcontent">
        <h1 class="header">Frequency Filters</h1>
        <!-- <button>upload image</button> -->
        <input class="input-btn" type="file" accept="image/jpeg, image/png, image/jpg">

        <div class="input-output">
            <!-- input image -->
            <div id="input_img" class="img">
                <img class="input_img hide" width="100%">

            </div>
            <div id="input_img-2" class="img hide">
                <img class="input_img hide" id="input-img-2" width="100%">
            </div>
            <!-- output image  -->
            <div id="output_img" class="img"></div>

        </div>

        <div class="options" id="tab1">
            <!-- noise select -->
            <label for="noise-select">Add noise:</label>
            <select name="noise-select" id="noise-select">
                <option value="gaussian">gaussian</option>
                <option value="uniform">unifrom</option>
                <option value="salt-and-pepper">salt and pepper</option>
            </select>

            <!-- filter select -->
            <label for="filter-select"> Choose the type of filter you want</label>
            <select name="filter-select" id="filter-select">
                <option value="median">median</option>
                <option value="average">average</option>
                <option value="gaussian">gaussian</option>
                <option value="low-pass">low pass</option>
                <option value="high-pass">high pass</option>
            </select>
        </div>
        <div class="options hide" id="tab2">
            <button>equalize image</button>
            <button>normalize image</button>
            <button>Global thresholding</button>
            <br>
            <button>local thresholding</button>
            <input type="range" min="2" max="20" step="1">
        </div>
        <div class="input-output hide" id="tab3">
            <input class="input-btn" type="file" accept="image/jpeg, image/png, image/jpg">

        </div>
        <button type="submit" id="submit-btn">Submit</button>



    </div>


    <!-- 
    <div id="histogram" class="tabcontent">
         Tab for frequency filters
        <h1>Histogram Operations</h1>
        <button>upload image</button> -->

    <!-- <div class="input-output">
            input image
        <div id="input_img" class="img"></div>
         output image  
        <div id="output_img" class="img"></div>
    </div> -->

    <!-- </div> -->
    <!-- 
   
-->
</body>

<script defer src="{{url_for('static', filename = './js/main.js')}}"></script>
<script defer src="{{url_for('static', filename = './js/jquery-3.6.1.min.js')}}"></script>


</html>