<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/index.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <title>CV task 1</title>
</head>

<body>

    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks active" id="tab1-btn">Apply image
            filters</button>
        <button class="tablinks" id="tab2-btn">Histogram Operations</button>
        <button class="tablinks" id="tab3-btn">Hybrid images</button>
    </div>

    <!-- Tab content for frequency filters-->
    <div id="filter" class="tabcontent">
        <h1 class="header">Frequency Filters</h1>

        <div class="images-containers">
            <!-- input image 1 -->
            <div id="input-image-1-container" class="img">
                <img id="input-img-1" width="100%">
            </div>

            <!-- input image 2 -->
            <div id="input-img-2-container" class="img">
                <img id="input-img-2" width="100%">
            </div>

            <!-- output image  -->
            <div id="output-img-container" class="img">
                <img id="output-img" width="100%">
            </div>

            <!-- edge detecton image -->
            <div id="edge-img-container" class="img">
                <img id="edge-img" width="100%">
            </div>

        </div>

        <!-- upload image 1 -->
        <input class="input-btn" type="file" accept="image/jpeg, image/png, image/jpg">

        <!-- upload image 2 -->
        <input class="input-btn hide" id="tab3" type="file" accept="image/jpeg, image/png, image/jpg">

        <div class="options" id="tab1">
            <!-- noise select -->
            <label for="noise-select">Add Noise</label>
            <select name="noise-select" id="noise-select">
                <option value="gaussianNoise">gaussian</option>
                <option value="uniformNoise">unifrom</option>
                <option value="saltAndPepper">salt and pepper</option>
            </select>

            <!-- filter select -->
            <label for="filter-select"> Noise Filter</label>
            <select name="filter-select" id="filter-select">
                <option value="medianFilter">median</option>
                <option value="averageFilter">average</option>
                <option value="gaussianFilter">gaussian</option>
                <!-- <option value="low-pass">low pass</option>
                <option value="high-pass">high pass</option> -->
            </select>

            <!-- filter select -->
            <label for="edge-select"> Edge Detection</label>
            <select name="edge-select" id="edge-select">
                <option value="canny">canny</option>
                <option value="prewitt">prewitt</option>
                <option value="roberts">roberts</option>
                <option value="sobel">sobel</option>
            </select>

        </div>

        <div class="options hide" id="tab2">
            <button>equalize image</button>
            <button>normalize image</button>
            <button>Global thresholding</button>
            <button>local thresholding</button>
            <input type="range" min="2" max="20" step="1">
        </div>

        <button type="submit" id="submit-btn">Submit</button>

    </div>


    <!-- 
    <div id="histogram" class="tabcontent">
         Tab for frequency filters
        <h1>Histogram Operations</h1>
        <button>upload image</button> -->

    <!-- <div class="images-containers">
            input image
        <div id="input_img" class="img"></div>
         output image  
        <div id="output-img-container" class="img"></div>
    </div> -->

    <!-- </div> -->
    <!-- 
   
-->
</body>

<script defer src="{{url_for('static', filename = './js/main.js')}}"></script>
<script defer src="{{url_for('static', filename = './js/jquery-3.6.1.min.js')}}"></script>

</html>